<div class="request-review-form">


  <div class="form">
    <p>Please fill the following form to tell our experts more about your requirement for review.</p>

    <div class="categories-row">
      <div class="category-selection">
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="selectedCategory" name="category">
            <mat-option 
              *ngFor="let category of categories" 
              [value]="category.value" 
              [disabled]="category.disabled"
              (click)="categoryUpdated()">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="sub-category-selection">
        <mat-form-field appearance="fill">
          <mat-label>Sub Category</mat-label>
          <mat-select [(ngModel)]="selectedSubCategory" name="subCategory">
            <mat-option 
              *ngFor="let subCategory of subCategories" 
              [value]="subCategory.value"
              [disabled]="subCategory.disabled">
              {{subCategory.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="title">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title" placeholder="Title!">
      </mat-form-field>
    </div>

    <div class="description">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea 
          matInput 
          [(ngModel)]="description" 
          placeholder="You can describe in detail about the project here...."
          rows="4"
        ></textarea>
      </mat-form-field>
    </div>

    <mat-checkbox class="example-margin" [(ngModel)]="isPublic">Make the post public, so that anyone can share their review</mat-checkbox>

    
  <div class="btn-group">
    <div class="upload-btn">
      <input type="file" id="actual-btn" hidden (change)="onFileInput($event)"/>
      <label for="actual-btn" class="button">Choose File</label>
    </div>
    <div class="button" (click)="onSubmit()">Request Review</div>
  </div>
</div>
