<!-- <div class="app">
  
</div> -->
<!-- <app-loader></app-loader> -->
<!-- <div class="tabs">
    <pre-auth></pre-auth>
</div> -->

<div class="app-container">
    <div class="header">
        <!-- <div class="title">
            <img class="logo" src="../assets/Images/logo.PNG" alt="">
        </div> -->
        <h2 class="title">Review Please</h2>
        <div class="tabs">
            <a class="tab-item get-review" [routerLink]="['/reviewers']" routerLinkActive="active-link">Reviewers</a>
            <a class="tab-item get-review" [routerLink]="['/get-review']" routerLinkActive="active-link">Get Review</a>
            <a class="tab-item give-review" [routerLink]="['/give-review']" routerLinkActive="active-link">Give Review</a>
        </div>
    </div>
    <div class="divider"></div>    
    <!-- <header></header> -->
    <router-outlet></router-outlet>    
</div>
