@import '../styles.scss';

.app-container {
  width: 95% !important;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;

  .tabs {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    height: 100%;
    padding: 0;

    .tab-item {
      width: 150px;
      height: 100%;
      // background-color: gray;
      height: 100%;
      line-height: 70px;
      text-align: center;
      // background-color: $light1;
      cursor: pointer;
      font-size: 16px;
      // font-weight: bold;
      // color: black;
      color: $dark2;

      &:hover {
        background-color: $light1;
      }

      &.active-link {
        background-color: $light1;
        font-weight: bold;
      }
    }
  }
}

.title {
  font-size: 22px;
  margin-top: 30px;
  padding-left: 10px;
  font-weight: bold;
  color: $dark1;
  height: 100%;
  margin: 0;
  line-height: 70px;
  // .logo {
  //   width: 70px;
  // }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $dark2;
  margin-bottom: 4vh;
}

.tabs {
  margin: 0 70px;
  padding: 5vh 0;

  .tab-content {
    padding: 30px 0;
  }
}

.mat-tab-group, .mat-tab-body-wrapper {
  height: 90vh;
}


a, a:hover, a:active {
  text-decoration: none;
}