.form {
  display: flex;
  padding-top: 50px;

  .form-group {
    margin: 0 12px;

    label {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .cardId {
    width: 30%;
  }

  .amount {
    width: 12%;
  }

  .merchantName {
    width: 22%;
  }

  .paymentChannel {
    width: 22%;
  }
  
  .submit {
    width: 11%;
    text-align: left;
  }
}

table {
  width: 100%;
  margin-top: 30px;

  th, td {
    height: 45px;
    padding: 0 20px;
  }

  .header { 

    th {
      background-color: #F4F4F4;
      color: #2A2A2C;
      font-weight: 700;
      font-size: 16px;
    }

    .name {
      width: 250px;      
    }
  }

  tr {
    border-bottom: 1px solid #F4F4F4;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
  }
}

.no-data {
  width: 100%;
  text-align: center;

  img {
    width: 32vw;
    margin-top: 3vh;
  }
}

.form-group.submit {
  display: flex;
  flex-direction: column;
}