.form {
  width: 100%;

  .categories-row {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .title, .description {
    width: 100%;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    
    .btn {
      max-width: 160px !important;
      border-radius: 8px;
    }
  }
}

.upload-btn {
  label {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
}