.landing {
  min-width: 100vw;
  min-height: 100vh;
}

.background {
  padding: 20px 10px;
  background-color: white;
  // width: 90%;
  height: 100%;
  margin: auto;
  position: relative;

  .divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 5vh;
  }


  .btns {
    position: absolute;
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}