<div class="landing container">
  <div class="background">
    <h2 class="title">Review Please</h2>
    <div class="divider"></div>
    
    <div class="left">
      
    </div>
    <!-- The idea is to sjdnwjsdksamcksdvkl/smfjkbmndf,.bd,bnfm,vb....................... -->

    <div class="btns">
      <button type="button" class="btn btn-primary" (click)="getReview()">Get Review</button>
      <button type="button" class="btn btn-primary" (click)="giveReview()">Give Review</button>
    </div>
  </div>
</div>